<!doctype html>
<html lang="pt-br">
  <head>
    <title>Registrar-se</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('source', path='css/bootstrap.min.css') }}"/>

    <style>
      .container {
        padding: 5%;
      }
      .tabela{
        display: flex;
        justify-content: space-between;
      }
      .m-2{
        margin: 2px;
      }
      .botao{
        display: flex;
        justify-content: center;
        margin: 10px;
      }
    </style>

    <script>

      function send_account() {
          data = {
              "username": document.getElementById("username").value,
              "password": document.getElementById("password").value
          };

          $.post("/", JSON.stringify(data), function(data, status){
              alert("Registrado com sucesso!")
              $(location).attr('href', 'home')
          })
          .fail(function() {
             alert("Usuário ou senha inválido");
          });
      }

    </script>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center bg-info text-white rounded" style="padding: 10px;">
        <h1>Registrar-se</h1>
      </div>
      <div class="row pt-3 justify-content-center" style="display: flex;">
        <div class="col-9">
          <div id="new" class="tabela">
            <div class="col">
              <div class="m-2">
                <input type="text" id="name" name="name" placeholder="Nome Completo">
              </div>
              <div class="m-2">
                <input type="text" id="username" name="username" placeholder="Username">
              </div>
              <div class="m-2">
                <input type="password" id="password" name="password" placeholder="Senha">
              </div>
              <div class="m-2">
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar Senha">
              </div>
              </div>
            <div class="col">
              <div class="m-2">
                <input type="text" id="name" name="name" placeholder="Nome Completo">
              </div>
              <div class="m-2">
                <input type="text" id="username" name="username" placeholder="Username">
              </div>
              <div class="m-2">
                <input type="password" id="password" name="password" placeholder="Senha">
              </div>
              <div class="m-2">
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar Senha">
              </div>
            </div>
          </div>
          <div class="botao">
            <button type="submit" class="btn btn-primary" onclick=send_account()>Registrar</button>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('source', path='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('source', path='js/popper.min.js') }}"></script>
    <script src="{{ url_for('source', path='js/bootstrap.min.js') }}"></script>
  </body>
</html>
